$light-color: #f4f4f4;
$red: #ff5b5b;
$orange: #ff915c;
$tangerine: #ffbe5b;
$yellow: #ffdf5b;
$green: #8fe360;
$teal: #57e690;
$light-blue: #57dbe6;
$khaki: #cfb995;
$dark: #303030;
$like: #68b680;
$dislike: #ff3750;
$like-hover: #46915c;
$dislike-hover: #ce2c40;
$light-grey: #787878;

// font imports
@font-face {
  font-family: "Montserrat Black";
  src: url("/assets/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("/assets/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/assets/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

// default margin and padding for everything
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  line-height: 1.6;
  font-size: 19px;
  font-family: "Montserrat Light", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
}

h1 {
  color: $khaki;
  font-size: 60px;
}

h2 {
  color: $light-color;
  font-family: "Montserrat Medium", "sans-serif";
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}

.tangerine {
  background-color: $tangerine;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.teal {
  background-color: $teal;
}

.light-blue {
  background-color: $light-blue;
}

.khaki {
  background-color: $khaki;
}

.button {
  height: 3rem;
  width: 225px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  background-color: white;
  border: 1px solid $khaki;

  font-family: "Montserrat Medium", sans-serif;
}

.button:hover {
  @extend .shadow;
}

.loader {
  border: 16px solid #f3f3f300;
  border-top: 16px solid $khaki;
  border-bottom: 16px solid $khaki;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: fixed;
  margin: 0 auto;
  top: 50vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.unshow {
  display: none !important;
}

.category_header {
  width: fit-content;

  padding: 0 15px 0 15px;

  font-size: 15px;
  font-family: "montserrat medium", sans-serif;
  text-transform: uppercase;

  border-radius: 50px;

  color: $light-color;

  display: flex;
  align-items: center;
}

.hook {
  color: $khaki;
}

.hook:hover::after {
  // default hook moves to the right
  transform: translate(1rem, 0);
  transition-duration: 0.5s;
}

.hook::after {
  background-image: url("/assets/assets_Homework_Front-End_01/path-copy-3_2@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  margin-top: 5px;
  margin-left: 10px;
  height: 19px;
  width: 50px;
}

.hook_down {
  @extend .hook;
}

.hook_down:hover::after {
  @extend .hook, :hover, ::after;

  transform: translate(0, 0.5rem);
}

.hook_down::after {
  @extend .hook, ::after;

  background-image: url("/assets/assets_Homework_Front-End_01/path-copy-7@3x.png");
}

.hook_up {
  @extend .hook;
}

.hook_up:hover::after {
  @extend .hook, :hover, ::after;

  transform: translate(0, -0.5rem);
}

.hook_up::after {
  @extend .hook, ::after;

  background-image: url("/assets/assets_Homework_Front-End_01/path-copy-7@3x up.png");
}

.short-hook {
  @extend .hook;
}

.short-hook:hover::after {
  @extend .hook, :hover, ::after;

  transform: translate(0.5rem, 0);
}

.short-hook::after {
  @extend .hook, ::after;

  background-image: url("/assets/assets_Homework_Front-End_02/arrow-left-copy@3x.png");
}

.short-hook-left {
  color: $khaki;
}

.short-hook-left:hover::before {
  // default short-hook-left moves to the right
  transform: translate(-1rem, 0);
  transition-duration: 0.5s;
}

.short-hook-left::before {
  background-image: url("/assets/assets_Homework_Front-End_02/arrow-left-copy-2@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  margin-top: 5px;
  margin-left: -20px;
  height: 19px;
  width: 50px;
}

.circle-button {
  border-radius: 32% 68% 76% 24% / 37% 27% 73% 63%;
  background-color: $dark;
  width: 75px;
  height: 75px;

  .short-hook-left::before {
    @extend .short-hook-left, ::before;

    margin-top: 25px;
    margin-left: 30px;
  }
}

.content {
  max-width: 1280px;

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    height: 100%;
  }

  li {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.navbar {
  // @extend .content;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $dark;

  .content {
    @extend .content;

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    height: 70px;
    color: $light-color;

    li {
      width: fit-content;
      max-width: 200px;
    }

    li.dropdown:hover {
      color: $dark;
    }

    a {
      color: $light-color;
    }

    a.navtext:hover {
      color: $khaki;
    }
  }
}

.navbutton {
  background-color: $khaki;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.filler {
  height: 20px;
  padding: 0px 16px;
  display: flex;
  align-items: flex-end;
}

.reverse-triangle {
  width: 0%;
  height: 0%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $light-color;
}

.dropdown-content {
  // display: block;
  opacity: 0;
  visibility: hidden;

  color: $dark;
  position: absolute;
  margin-top: 255px;
  z-index: 1;
  overflow: hidden !important;

  .list {
    height: 100%;
    background-color: $light-color;
    padding: 12px 16px;
    width: fit-content;
    box-sizing: border-box;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  li {
    white-space: nowrap;
    color: $light-grey;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 16px;
  }

  li:hover {
    color: $khaki;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s, display 0.5s linear;
}

.hero {
  background-image: linear-gradient($dark, $dark),
    url("/assets/assets_Homework_Front-End_01/chuck-norris-movies.webp");
  background-blend-mode: hard-light;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 360px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #search-input {
    background-image: url("/assets/assets_Homework_Front-End_01/search-copy@3x.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: center;

    background-color: transparent;

    margin-top: 30px;

    padding-right: 25px;
    padding-left: 25px;

    height: 3rem;
    width: 80vw;
    max-width: 500px;

    font-size: 20px;
    font-family: "Montserrat Medium", sans-serif;

    color: $light-color;

    border: 1px solid white;
    border-radius: 5px;
  }

  #search-input:focus {
    background-image: url("/assets/assets_Homework_Front-End_02/search-copy@3x.png");
    background-color: $light-color;
    outline: none;
    color: $light-grey;
  }

  .search-dropdown {
    display: none;
    flex-direction: column;

    position: absolute;
    background-color: transparent;
    width: 80vw;
    max-width: 500px;
    height: fit-content;
    max-height: 500px;

    .list {
      display: flex;
      flex-direction: column;
      width: 80vw;
      max-width: 500px;
      height: fit-content;
      max-height: 500px;
      // overflow: scroll;
      border-radius: 5px;
      // padding: 1rem;
      background-color: $light-color;

      #search-list {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          gap: 1rem;
          box-sizing: border-box;
          padding: 5px;
          border-radius: 5px;
        }

        .search-category {
          @extend .category_header;
        }

        li:hover {
          background-color: white;
        }
      }

      .search-col-1 {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    top: px;
  }
}

main {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .content {
    padding-bottom: 45px;
  }

  hr.custom {
    border-top: 1px solid lightgrey;
    width: 90%;
  }

  ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .joke_div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .content {
      @extend .content;
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      .facts {
        display: flex;
        flex-wrap: wrap;

        align-items: flex-start;
        justify-content: center;

        gap: 1rem;
      }

      .fact-status-popular {
        color: $light-blue;
        font-family: "Montserrat Medium", sans-serif;
      }

      .fact-status-trending {
        color: $yellow;
        font-family: "Montserrat Medium", sans-serif;
      }

      .fact-status-epic {
        color: $red;
        font-family: "Montserrat Medium", sans-serif;
      }

      .fact-card {
        // @extend .shadow;
        width: 300px;
        height: fit-content;
        // min-height: 200px;
        overflow: hidden;
        padding: 15px;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .like-dislike-footer {
          display: flex;

          width: 100%;

          justify-content: flex-end;
          gap: 0.5rem;

          .hook {
            margin-right: 40px;
            font-family: "Montserrat Medium", sans-serif;
          }
        }

        .like-button {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          align-content: center;
        }

        .like-container {
          fill: none;
          stroke: white;
          background-color: $like;

          padding: 5px;

          border-radius: 50%;

          display: flex;

          align-items: center;
          align-content: center;
        }

        .like-container:hover {
          background-color: $like-hover;
        }

        .dislike-button {
          fill: $dislike;

          display: flex;
          gap: 0.25rem;
          align-items: center;
          align-content: center;
        }

        .dislike-container {
          fill: none;
          stroke: white;
          background-color: $dislike;

          padding: 5px;

          border-radius: 50%;

          display: flex;

          align-items: center;
          align-content: center;
        }

        .dislike-container:hover {
          background-color: $dislike-hover;
        }
      }

      .fact-card:hover {
        @extend .shadow;
        transition-duration: 0.4s;
      }

      .fact-card-large {
        @extend .fact-card;

        padding: 25px;
        box-sizing: border-box;

        width: 75%;
        max-width: 1280px;
        min-width: 450px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        .fact-card-large-header {
          display: flex;
          width: 100%;

          justify-content: space-between;
        }

        .fact-container {
          padding: 15px;
          font-size: 30px;
          text-align: center;
        }
      }
      .fact-nav {
        display: flex;
        justify-content: flex-end;
      }
    }

    .single-fact {
      width: 100%;
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }
}

.selection_button {
  height: 3rem;
  width: 225px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: $light-color;

  font-family: "Montserrat Medium", sans-serif;
}

.selection_button:hover {
  @extend .shadow;
}

footer {
  background-image: url("/assets/assets_Homework_Front-End_01/bitmap_2@3x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    @extend .content;
    width: 100%;
    display: flex;
    color: $light-color;

    font-family: "Montserrat Medium", sans-s rif;
    flex-direction: column;
  }
}

#view-more-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// responsiveness
@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }

  footer {
    div.content {
      padding: 20px;
    }
  }
}

// responsiveness
@media screen and (max-width: 1280px) {
  footer {
    div.content {
      padding: 20%;
    }
  }

  .navbar {
    display: none;
  }
}
